.BG{
    background-image: url("/public/old-city-architecture-ancient-wall-historic-876774-wallhere.com.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}

.HotelDetails{
    margin-top: 2rem;
    margin-left: 2rem ;
    align-self: self-start;
    color: aliceblue;
}